* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    background-color: #4c8dd7;
}

img {
    display: inline-block;
}

.hidden {
    display: none;
}

.img-block {
    width: 100%;
    height: auto;
    max-width: auto;
    max-height: auto;
    padding: 0;
    margin: 0;
    display: block;
}

.text-center {
    text-align: center;
}

.vivoPro {
    width: 100%;
    height: 100%;
    background-color: #77a7d9;
    background: -webkit-linear-gradient(#a8c5dc, #4c8dd7);
    background: -o-linear-gradient(#a8c5dc, #4c8dd7);
    background: -moz-linear-gradient(#a8c5dc, #4c8dd7);
    background: linear-gradient(#a8c5dc, #4c8dd7);
    position: relative;
}

.vivoPro .flag {
    width: 100%;
    height: 3.562667rem;
    line-height: 3.562667rem;
    background: rgba(59, 59, 59, .14);
    display: block;
    text-align: center;
}

.vivoPro .flag img {
    height: 2.133333rem;
    vertical-align: middle
}

.line2 img,
.line3 img {
    width: 3.264rem;
}

.topimg {
    width: 100%;
    position: absolute;
    top: -6.5rem;
}

.topimg img {
    width: 100%;
    max-width: 100%;
    display: block;
}

.flag {
    position: absolute;
    top: 6.4rem;
    right: 16rem;
}

.flag img {
    opacity: 0;
}

.line1 {
    position: absolute;
    top: 11rem;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}

.line1 img {
    width: 6.336rem;
}

.tip1-img {
    width: 8.469333rem;
    position: absolute;
    top: 14.2rem;
    left: 1rem;
    transform: rotate(0deg);
    animation: tip1Img 1.6s linear;
}

@keyframes tip1Img {
    0% {
        left: -8.1rem;
        transform: rotate(0deg);
    }

    50% {
        left: -4rem;
        transform: rotate(180deg);
    }

    100% {
        left: 1rem;
        transform: rotate(360deg);
    }

}

.tip1 {
    position: absolute;
    top: 15.8rem;
    left: 2.1rem;
}

.tip1 img {
    width: 6.5rem;
}

.write-word-1 {
    width: 6.5rem;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 1.5s steps(11);
}

@keyframes typing {
    from {
        width: 0
    }

}

.line2 {
    position: absolute;
    top: 16rem;
    left: 6.5rem;
    opacity: 0;
}

.tip2-img {
    position: absolute;
    top: 20.3rem;
    left: 6.2rem;
    width: 6.656rem;
    animation: tip2Img 1.6s linear;
}

@keyframes tip2Img {
    0% {
        left: -6.7rem;
        transform: rotate(0deg);
    }

    50% {
        left: 0rem;
        transform: rotate(180deg);
    }

    100% {
        left: 6.2rem;
        transform: rotate(360deg);
    }

}

.tip2-text1 {
    position: absolute;
    top: 21.4rem;
    left: 6.7rem;
}

.tip2-text1 img {
    width: 4.97rem;
}

.write-word-2 {
    width: 5rem;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 1.5s steps(8);
}

.tip2-text2 {
    position: absolute;
    top: 22.6rem;
    left: 7.4rem;
}

.tip2-text2 img {
    width: 3.3rem;
}

.write-word-3 {
    width: 3.28rem;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 1s steps(5);
}

.line3 {
    position: absolute;
    top: 25.3rem;
    left: 7.4rem;
    opacity: 0;
}

.tip3-img {
    position: absolute;
    top: 26.6rem;
    left: 3.5rem;
    width: 7.72rem;
    animation: tip3Img 1.6s linear;
}

@keyframes tip3Img {
    0% {
        left: -7.4rem;
        transform: rotate(0deg);

    }

    50% {
        left: -2rem;
        transform: rotate(180deg);
    }

    100% {
        left: 3.5rem;
        transform: rotate(360deg);
    }
}

.tip3-text1 {
    position: absolute;
    top: 27.9rem;
    left: 5rem;
}

.tip3-text1 img {
    width: 4.03rem;
}

.write-word-4 {
    width: 4.03rem;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 1.5s steps(9);
}

.tip3-text2 {
    position: absolute;
    top: 29rem;
    left: 5rem;
}

.tip3-text2 img {
    width: 4.39rem;
}

.write-word-5 {
    width: 4.39rem;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 1.5s steps(9);
}

.tip-down {
    position: absolute;
    top: 34rem;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    width: 0.896rem;
}

.btn-wrap {
    position: absolute;
    top: 47rem;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 2rem;
    opacity: 0;
}

.btn-wrap img {
    width: 11.264rem;
}

.heart-pound {
    animation: pound 0.24s infinite alternate;
}

@keyframes pound {
    to {
        transform: scale(1.2);
    }
}