* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    background-color: #4c8dd7;
    overflow-x: hidden;
}

img {
    display: inline-block;
}

.hidden {
    display: none;
}

.img-block {
    width: 100%;
    height: auto;
    max-width: auto;
    max-height: auto;
    padding: 0;
    margin: 0;
    display: block;
}

.text-center {
    text-align: center;
}

.vivoPro {
    width: 100%;
    height: 100%;
    background-color: #77a7d9;
    background: -webkit-linear-gradient(#a8c5dc, #4c8dd7);
    background: -o-linear-gradient(#a8c5dc, #4c8dd7);
    background: -moz-linear-gradient(#a8c5dc, #4c8dd7);
    background: linear-gradient(#a8c5dc, #4c8dd7);
    position: relative;
}

.vivoPro .flag {
    width: 100%;
    height: 3.562667rem;
    line-height: 3.562667rem;
    background: rgba(59, 59, 59, .14);
    display: block;
    text-align: center;
}

.vivoPro .flag img {
    height: 2.133333rem;
    vertical-align: middle
}

.line2 img,
.line3 img {
    width: 3.264rem;
}